@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
  padding: 0%;
  margin: 0%;

}


.sidebar{
  
  background-color: gray;
  width:20vw;
  font-family: 'Fira Sans',sans-serif ;
  height:150vh;


}

.sidebar nav{
  padding: 25px;
}


.sidebar nav li{
  list-style: null;
  font-size: 25px;
  padding: 25px 0;
}
.main{
  /*background-color: yellow;*/
  width: 90vw;
}

.container{
  display: flex;
}

.infocontainer{
  width: 80vw;
  height:68v  h;
 /* background-color: green;*/
 
  margin: 50px auto;
  justify-content: space-around;

  display: flex;
}
.devinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Code Pro' ,monospace;
}

.hello{
  font-size: 50px;
 /* font-weight: bold;*/
  font-family: "Source Code Pro", monospace;
}

.name{
  font-size: 50px;
  font-family: 'Fira Sans',sans-serif ;
  font-weight: bold;
   

}

.buttons button{
  padding: 5px;
  border-radius: 25px;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 15px;
  color:white;
  margin: 0 3px;
  cursor: pointer;
}

.buttons button:hover{
  background-color:white;
  color:blue;
}


.about{
  font-size: 40px;
}


.devpic img{
  margin-top: 50%;
   height:45vh;
   width:200px;
   
}